.display-false {
    opacity: 0;
    display: none;
    animation: 1s displayNo;
  }
  
  .display-true {
    opacity: 1;
    transition: opacity 500ms;
    animation: 1s displayYes;
  }

  .ml13 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }

pre {
    background-color: rgb(240, 240, 240);
}

pre .num {
    color:rgb(201, 201, 201);
}

.nav-link {
    cursor: pointer;
}